html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px; /* Largura do canvas */
    height: 600px; /* Altura do canvas */
}

#tela {
border: 2px solid rgb(255, 0, 0);
}

#painel-direito {
    border: 1px solid white;
    width: 150px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mensagem {
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
}

#painel-esquerdo {
    border: 1px solid white;
    width: 150px;
    height: 600px;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#score, #nivel, #linhas {
    text-align: center;
}